@{
    ViewBag.Title = "Development Earth";
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
}

 <!------banner-start------>
    <section class="banner_section about_banner">
    	<img src="../../Content/Images/Contact_us_banner.jpg">
    </section>
    <!-----banner-end------->
    <!---------wrapper-start----->
    <section class="wrapper">
    	<section class="container">
        	<section class="about_wrap">
        		<h1 class="main_title">Contact with<span> Development Earth.</span></h1>
                <div class="row">
                    <section class="col-sm-12 contact-form">
            			<section class="col-sm-6">
                	<h5 class="contact-title">EMAIL US</h5>
                	<ul class="contact-list">
                                	<li><label>Name:</label><input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Name"></li>
                                    <li><label>Last Name:</label><input type="email" class="form-control" id="exampleInputEmail1" placeholder="Last Name"></li>
                                    <li><label>Email:</label><input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"></li>
                                    <li><label>Phone No:</label><input type="email" class="form-control" id="exampleInputEmail1" placeholder="Phone No"></li>
                                    <li><label>Message:</label><textarea class="form-control" rows="3"></textarea></li>
                                    <li><label></label><button class="btn btn-primary" type="button">Contact Now</button></li>
                                </ul>
                </section>
                		
                		<section class="col-sm-6">
                		<h5 class="contact-title">CONTACT INFORMATION</h5>
						<ul class="study_wrap">
                            <li>
                                    <div class="org_icon"><img src="../../Content/Images/contact_01.png"></div>
                                    <div class="org_right">
                                        <h2>Postal Address</h2>
                                        <p><b>Development Earth Traning Center,</b><br> F903, Industrial Area, Phase-VII, Ramdarwar<br>Chandigarh, INDIA</p>
                                    </div>
                                
                            </li>
                            <li>
                                    <div class="org_icon"><img src="../../Content/Images/contact_02.png"></div>
                                    <div class="org_right">
                                        <h2>Phone &amp; Email</h2>
                                        <p>
                                        	<b>Email:</b> developmentearth@gmail.com<br>
                                        	<b>Contact No:</b> 9569950087 / 9815329996<br>
                                            <b>Skype Id:</b> umesh.1160.Skype India
                                        </p>
                                    </div>
                                
                            </li>
                            <li>
                                    <div class="org_icon"><img src="../../Content/Images/contact_03.png"></div>
                                    <div class="org_right">
                                        <h2>Business Hours</h2>
                                        <p>Monday - Eriday<br>9:30 AM - 6:30 PM<br>Weekend Closed</p>
                                    </div>
                                
                            </li>
                    </ul>                  
                </section>
            		</section>
                </div>
           	</section>
        </section>
    </section>
    <!---------wrapper-end------->
