@{
    ViewBag.Title = "Development Earth";
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
}


       
        <!------banner-start------>
        <section class="banner_section">


            <!-- Carousel
    ================================================== -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active snap_one">
                        <div class="container">
                            <section class="col-sm-1"></section>
                            <section class="col-sm-6 banner_content">
                                <h1>"All power is within you, you can do anything and everything. Believe in that; do not believe that you're weak. Stand up and express the divinity within you,"</h1>
                                <div><a class="book_now" href="#">Login</a><a class="register" href="#">Register</a></div>
                            </section>
                        </div>
                    </div>
                    <div class="item snap_two">
                        <div class="container">
                            <section class="col-sm-1"></section>
                            <section class="col-sm-6 banner_content">
                                <h1>"All power is within you, you can do anything and everything. Believe in that; do not believe that you're weak. Stand up and express the divinity within you,"</h1>
                                <div><a class="book_now" href="#">Login</a><a class="register" href="#">Register</a></div>
                            </section>
                        </div>
                    </div>
                    <div class="item snap_three">
                        <div class="container">
                            <section class="col-sm-1"></section>
                            <section class="col-sm-6 banner_content">
                                <h1>"All power is within you, you can do anything and everything. Believe in that; do not believe that you're weak. Stand up and express the divinity within you,"</h1>
                                <div><a class="book_now" href="#">Login</a><a class="register" href="#">Register</a></div>
                            </section>
                        </div>
                    </div>
                    <div class="item snap_four">
                        <div class="container">
                            <section class="col-sm-1"></section>
                            <section class="col-sm-6 banner_content">
                                <h1>"All power is within you, you can do anything and everything. Believe in that; do not believe that you're weak. Stand up and express the divinity within you,"</h1>
                                <div><a class="book_now" href="#">Login</a><a class="register" href="#">Register</a></div>
                            </section>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

            <!-- /.carousel -->
        </section>
        <!-----banner-end------->
        <!---------wrapper-start----->
        <section class="wrapper">
            <section class="container">
                <section class="home_wrap">
                    <h1 class="main_title">Main Moto of <span>Development Earth</span></h1>
                    <div class="row">
                        <div class="col-sm-12"><i>f you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day, everyday,f you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day, everyday,f you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day, everyday,f you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day, everyday,</i></div>
                    </div>
                </section>
                <section class="home_wrap">
                    <h1 class="main_title">An Unique<span> Educations Plan.</span></h1>
                    <div class="row">
                        <div class="col-sm-4 col-xs-4 edu_bg">
                            <img src="images/education-bg.jpg">
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <ul class="study_wrap">
                                <li>
                                    <a href="#">
                                        <div class="org_icon">
                                            <img src="images/computer.png" />
                                        </div>
                                        <div class="org_right">
                                            <h2>Personal Devolpment Training Class.</h2>
                                            <p>f you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day, everyday,</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="org_icon">
                                            <img src="images/computer.png" />
                                        </div>
                                        <div class="org_right">
                                            <h2>Basic Computer Trainning Class.</h2>
                                            <p>f you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day, everyday,</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="org_icon">
                                            <img src="images/computer.png" />
                                        </div>
                                        <div class="org_right">
                                            <h2>English Spoking Training Class.</h2>
                                            <p>f you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day, everyday,</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="org_icon">
                                            <img src="images/computer.png" />
                                        </div>
                                        <div class="org_right">
                                            <h2>Network Marketing Training Class.</h2>
                                            <p>f you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day, everyday,</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="org_icon">
                                            <img src="images/computer.png" />
                                        </div>
                                        <div class="org_right">
                                            <h2>Web Designing Training Class.</h2>
                                            <p>f you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day, everyday,</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="org_icon">
                                            <img src="images/computer.png" />
                                        </div>
                                        <div class="org_right">
                                            <h2>Software Development Training Class.<span>(PHP &amp; .NET)</span></h2>
                                            <p>f you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day, everyday,</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="home_wrap">
                    <h1 class="main_title">An Unique<span> Business Plan.</span></h1>
                    <div class="row">
                        <div class="col-sm-9 col-xs-9">
                            <ul class="study_wrap">
                                <li>
                                    <a href="#">
                                        <div class="org_icon">
                                            <img src="images/computer.png" />
                                        </div>
                                        <div class="org_right">
                                            <h2>Personal Devolpment Training Class.</h2>
                                            <p>f you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day, everyday,</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="org_icon">
                                            <img src="images/computer.png" />
                                        </div>
                                        <div class="org_right">
                                            <h2>Basic Computer Trainning Class.</h2>
                                            <p>f you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day, everyday,</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="org_icon">
                                            <img src="images/computer.png" />
                                        </div>
                                        <div class="org_right">
                                            <h2>Basic Computer Trainning Class.</h2>
                                            <p>f you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day, everyday,</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-3 col-xs-3 edu_bg">
                            <img src="images/business-bg.jpg">
                        </div>
                    </div>
                </section>
            </section>
        </section>
        <!---------wrapper-end------->
   
