@{
    ViewBag.Title = "Development Earth";
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
}


  <!------banner-start------>
    <section class="banner_section about_banner">
    	<img src="../../Content/Images/service_banner.jpg">
    </section>
    <!-----banner-end------->
    <!---------wrapper-start----->
    <section class="wrapper">
    	<section class="container">
        	<section class="about_wrap">
            	<h1 class="main_title">Current Offers of<span> Development Earth.</span></h1>
            	<div class="row">
                    <div class="col-sm-12 offers">
                    	<div class="col-sm-3 col-xs-3 offer_snap">
                        <img class="offers_snapper" src="../../Content/Images/offers_snapper.png">
                        <img class="inner_offer" src="../../Content/Images/laptop.jpg">
                        </div>
                        <div class="col-sm-8 col-xs-8 offer_text">
                        	<h2 class="offer-title">Lorem Ipsum is a symply dummy Text..</h2>
                            <p class="offer_text">if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day, everyday<br>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day, everyday</p>
                        </div>
                    </div>
                </div>
        		<h1 class="main_title">Services of<span> Development Earth.</span></h1>
                <div class="row">
                    <div class="col-sm-12">
                    	<div class="col-sm-9 col-xs-9">
                        	<div class="table-responsive">
                                <table class="table chart" width="100%" border="1" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <th colspan="5" align="center" valign="middle">
                                        	<h1>The Ultimate Life Prosperous Plan Performance Chart</h1>
                                        </th>
                                      </tr>
                                      <tr>
                                        <td><b>S.NO</b></td>
                                        <td><b>STEP</b></td>
                                        <td><b>NO.OF M&amp;A</b></td>
                                        <td><b>M+A</b></td>
                                        <td><b>TOTAL COMMISSION</b></td>
                                      </tr>
                                      <tr>
                                        <td>S1M.</td>
                                        <td>EARTH</td>
                                        <td>MEMBER NO. 10</td>
                                        <td>1/100 x 10</td>
                                        <td>1000 Rs</td>
                                      </tr>
                                      <tr>
                                        <td>S1A.</td>
                                        <td>EARTH</td>
                                        <td>AGENT NO. 5</td>
                                        <td>1/50 x 5</td>
                                        <td>250 Rs</td>
                                      </tr>
                                      <tr class="danger">
                                      	<td></td>
                                        <td><span>TOTAL</span></td>
                                        <td><span>M <b>+</b> A = 10+5</span></td>
                                        <td><span>15</span></td>
                                        <td><span>1250 Rs</span></td>
                                      </tr>
                                      <tr>
                                        <td>S2M.</td>
                                        <td>EARTH</td>
                                        <td>MMEMBER NO. 50</td>
                                        <td>1/50 x 50</td>
                                        <td>2500</td>
                                      </tr>
                                      <tr>
                                        <td>S2A.</td>
                                        <td>EARTH</td>
                                        <td>AGENT NO. 25</td>
                                        <td>1/25 x 25</td>
                                        <td>625</td>
                                      </tr>
                                      <tr class="danger">
                                      	<td></td>
                                        <td><span>TOTAL</span></td>
                                        <td><span>M + A = 50+25</span></td>
                                        <td><span>75</span></td>
                                        <td><span>3125 Rs &amp; (HAND WATCH)</span></td>
                                      </tr>
                                      <tr>
                                        <td>S3M.</td>
                                        <td>EARTH</td>
                                        <td>MEMBER NO. 250</td>
                                        <td>1/25 x 250</td>
                                        <td>6250</td>
                                      </tr>
                                      <tr>
                                        <td>S3A.</td>
                                        <td>EARTH</td>
                                        <td>AGENT NO. 125</td>
                                        <td>1/15 x 125</td>
                                        <td>1875</td>
                                      </tr>
                                      <tr class="danger">
                                      	<td></td>
                                        <td><span>TOTAL</span></td>
                                        <td><span>M + A = 250+125</span></td>
                                        <td><span>375</span></td>
                                        <td><span>8125 Rs &amp; (COLOR MOBILE)</span></td>
                                      </tr>
                                      <tr>
                                        <td>S4M.</td>
                                        <td>EARTH</td>
                                        <td>MEMBER NO. 1250</td>
                                        <td>1/15 x 1250</td>
                                        <td>18750</td>
                                      </tr>
                                      <tr>
                                        <td>S4A.</td>
                                        <td>EARTH</td>
                                        <td>AGENT NO. 625</td>
                                        <td>1/8 x 625</td>
                                        <td>5000</td>
                                      </tr>
                                      <tr class="danger">
                                      	<td></td>
                                        <td><span>TOTAL</span></td>
                                        <td><span>M + A = 1250+625</span></td>
                                        <td><span>1875</span></td>
                                        <td><span>23750 Rs &amp; (CAMERA MOBILE)</span></td>
                                      </tr>
                                      <tr>
                                        <td>S5M.</td>
                                        <td>EARTH</td>
                                        <td>MEMBER NO. 6250</td>
                                        <td>1/8 x 6250</td>
                                        <td>50000</td>
                                      </tr>
                                      <tr>
                                        <td>S5A.</td>
                                        <td>EARTH</td>
                                        <td>AGENT NO. 3125</td>
                                        <td>1/4 x 3125</td>
                                        <td>12500</td>
                                      </tr>
                                      <tr class="danger">
                                      	<td></td>
                                        <td><span>TOTAL</span></td>
                                        <td><span>M + A = 6250+3125</span></td>
                                        <td><span>9375</span></td>
                                        <td><span>62500 Rs</span></td>
                                      </tr>
                                      <tr class="org_bg">
                                      	<td>ST.</td>
                                        <td>MEMBER OF EARTH</td>
                                        <td>15<b>+</b>75<b>+</b>375<b>+</b>1875<b>+</b>9375</td>
                                        <td>AGENT NO. 11715</td>
                                        <td>98750 RS</td>
                                      </tr>
                                    </table>
							</div>
                      </div>
                      	<div class="col-sm-3 col-xs-3">
                        	<div class="service_snap"><img src="../../Content/Images/services_gift.png"></div>
                        </div>
                    </div>
                </div>
           	</section>
        </section>
    </section>
    <!---------wrapper-end------->