@{
    ViewBag.Title = "Development Earth";
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
}

 <!------banner-start------>
    <section class="banner_section about_banner">
    	<img src="../../Content/Images/about_us_banner.jpg">
    </section>
    <!-----banner-end------->
    <!---------wrapper-start----->
    <section class="wrapper">
    	<section class="container">
        	<section class="about_wrap">
        		<h1 class="main_title">Terms &amp; Condition of<span> Development Earth.</span></h1>
                <div class="row">
                    <div class="col-sm-12">
                    	<div class="about-inner-wrap">
                    		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,<br><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p> 
                        	<p class="about_hindi">बस मुद्रण और टाइप बैठना उद्योग के डमी पाठ है। एक अज्ञात प्रिंटर के प्रकार की एक लंबी नाव ले लिया और यह एक प्रकार नमूना पुस्तक बनाने के लिए तले जब 1500s, के बाद से कभी उद्योग की मानक डमी पाठ किया गया है। यह न केवल पांच सदियों से बच गया है<br><br>बस मुद्रण और टाइप बैठना उद्योग के डमी पाठ है। एक अज्ञात प्रिंटर के प्रकार की एक लंबी नाव ले लिया और यह एक प्रकार नमूना पुस्तक बनाने के लिए तले जब 1500s, के बाद से कभी उद्योग की मानक डमी पाठ किया गया है। यह न केवल पांच सदियों से बच गया है</p>
                        </div>
                        <div class="about-inner-wrap">
                    		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,<br><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p> 
                        	<p class="about_hindi">बस मुद्रण और टाइप बैठना उद्योग के डमी पाठ है। एक अज्ञात प्रिंटर के प्रकार की एक लंबी नाव ले लिया और यह एक प्रकार नमूना पुस्तक बनाने के लिए तले जब 1500s, के बाद से कभी उद्योग की मानक डमी पाठ किया गया है। यह न केवल पांच सदियों से बच गया है<br><br>बस मुद्रण और टाइप बैठना उद्योग के डमी पाठ है। एक अज्ञात प्रिंटर के प्रकार की एक लंबी नाव ले लिया और यह एक प्रकार नमूना पुस्तक बनाने के लिए तले जब 1500s, के बाद से कभी उद्योग की मानक डमी पाठ किया गया है। यह न केवल पांच सदियों से बच गया है</p>
                        </div>
                        <div class="about-inner-wrap">
                    		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,<br><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p> 
                        	<p class="about_hindi">बस मुद्रण और टाइप बैठना उद्योग के डमी पाठ है। एक अज्ञात प्रिंटर के प्रकार की एक लंबी नाव ले लिया और यह एक प्रकार नमूना पुस्तक बनाने के लिए तले जब 1500s, के बाद से कभी उद्योग की मानक डमी पाठ किया गया है। यह न केवल पांच सदियों से बच गया है<br><br>बस मुद्रण और टाइप बैठना उद्योग के डमी पाठ है। एक अज्ञात प्रिंटर के प्रकार की एक लंबी नाव ले लिया और यह एक प्रकार नमूना पुस्तक बनाने के लिए तले जब 1500s, के बाद से कभी उद्योग की मानक डमी पाठ किया गया है। यह न केवल पांच सदियों से बच गया है</p>
                        </div>
                    </div>
                </div>
           	</section>
        </section>
    </section>
    <!---------wrapper-end------->
